openapi: 3.0.1
info:
  title: BrightQuery API
  description: >-
    BrightQuery, Inc. ("BQ") is the leading provider of U.S. business
    information, including firmographics, financials, credit events, employment,
    and benefits information. BQ tracks all companies operating in the U.S. that
    file taxes and have one or more employees (including the owner). BQ sources
    all information from U.S. government filings, leveraging in particular
    regulatory filings with the IRS, DOL, and the SEC. Finally, BQ provides over
    5,000 fields, including company information, as well as aggregated
    statistics on industries, sectors, counties, states, and the U.S. economy
    overall.<br><br>This collection of APIs enables a client to search for a
    company using parameters such as company name, address, and website. BQ’s
    proprietary search algorithms utilize fuzzy matching to search and rank the
    results. For a complete list of all fields that BQ can provide, including
    detailed financials, please <a
    href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
    >click here</a>. Please <a
    href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
    here</a> to download the list of IRS industries, which is the primary
    industry classification system used by BQ.<br><br>Please contact <a
    href="mailto:sales@brightquery.com" >sales@brightquery.com</a> for sales and
    <a href="mailto:support@brightquery.com" >support@brightquery.com</a> for
    product support. You may also call 1-888-BQDATA1. Please visit <a
    href="https://brightquery.com" target="_blank">https://brightquery.com/</a>
    to learn more about BQ’s full suite of products, including bulk data
    feeds.<br><br>© 2021 BrightQuery, Inc. All rights reserved. Visit us at: <a
    href="https://brightquery.com"
    target="_blank">https://www.brightquery.com</a>. Contact us at: <a href="
    mailto:sales@brightquery.com">sales@brightquery.com</a>, <a
    href="mailto:support@brightquery.com" >support@brightquery.com</a> or
    1-888-BQDATA1. For the terms of use of BrightQuery data and products,
    including these APIs, please see the following link: <a
    href="https://brightquery.com/terms-of-use/" target="_blank">Terms of
    Use.</a>
    <!-- ReDoc-Inject: <security-definitions> -->
  version: 2.1.1
  x-logo:
    url: 'BQ-logo.png'
    altText: BQ logo
servers:
  - url: https://apigateway.brightquery.com/auth
tags:
  - name: BQ APIs
paths:  
  /advance-search/org:
    post:
      summary: Organization Search API
      tags:
        - Business Identity API      
      description: >-
        The BQ Advanced Search API is generally suitable for clients in capital
        markets, investment banking, consulting, private equity, and venture
        capital. It is suitable for such purposes because the search results are
        biased in favor of large companies as well as public companies. That is,
        if two companies are equally matched to the search criteria entered by
        the user, then the BQ Advanced Search API ranks higher in the results
        the company that is larger or public. The BQ Advanced Search API is not
        suitable for users looking for small companies, such as those with less
        than 100 employees; such users should instead leverage the BQ Neutral
        Search API.<br><br> The BQ Advanced Search API enables a user to find a
        specific company. Searches can be performed using company name, address,
        website, and other firmographic criteria. The top 10 results are
        returned, including core firmographics (name, address, website, phone,
        industry, etc.), employment, revenue, and payroll. The results of the BQ
        Advanced Search API are sorted based on BQ’s proprietary match score
        which is weighted in favor of large companies.<br><br> The drop-down
        menu on the right provides a series of examples demonstrating how to use
        the BQ Advanced Search API. <br><br>Please refer to <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_Search_API_Data_Dictionary.xlsx"
        >BrightQuery_Search_API_Data_Dictionary</a> to obtain details of the
        attributes in API response. For a complete list of all fields that BQ
        can provide, including detailed financials, please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
        >click here</a>. Please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
        here</a> to download the list of IRS industries, which is the primary
        industry classification system used by BQ.<br><br>The average response
        time of the BQ Advanced Search API is 1 second.
      parameters:
        - name: ticker
          in: query
          description: TICKER of the Organization if it is public.
          schema:
            type: string
            example: "MSFT"
        - name: ticker_parent
          in: query
          description: TICKER of the Organization's parent holding company if the parent is publicly listed.
          schema:
            type: string
            example: "MSFT"
        - name: ticker_related
          in: query
          description: All TICKERs associated with the Organization if it is publicly listed.
          schema:
            type: string
            example: "MSFT"
        - name: lei
          in: query
          description: Legal Entity Identifier of the Organization.
          schema:
            type: string
            example: "7YNCQQNDK8FBM9BBTK25"
        - name: cik
          in: query
          description: Central Index Key (CIK) is a unique number issued by the SEC.
          schema:
            type: string
            example: "0001128928"
        - name: website
          in: query
          description: Link to the Organization's primary website.
          schema:
            type: string
            example: "www.flowersfoods.com"
        - name: ein
          in: query
          description: Unique number issued by the IRS given to the Organization.
          schema:
            type: string
            example: "570384104"
        - name: linkedin_url
          in: query
          description: Organization Linkedin URL.
          schema:
            type: string
            example: "www.linkedin.com/flowers"
        - name: company_name
          in: query
          description: Name of Organization.
          schema:
            type: string
            example: "FLOWERS FOODS INC"
        - name: address
          in: query
          description: Address of Organization.
          schema:
            type: string
            example: "1919 Flowers Cir Thomasville, GA 31757"
        - name: email
          in: query
          description: Email of Organization.
          schema:
            type: string
            example: "joe@flowersfoods.com"
        - name: bq_id
          in: query
          description: Unique ID assigned by BQ to the Organization.
          schema:
            type: string
            example: "100003273517"
      requestBody:
        required: true
        content:
          application/json:
            examples:
              'Scenario 1: Ticker ':
                description: Ticker.
                value:
                    ticker: 'MSFT'                    
              'Scenario 2: LEI ':
                description: LEI.
                value:
                  lei: '7YNCQQNDK8FBM9BBTK25'
              'Scenario 3: CIK ':
                description: CIK
                value:
                  cik: '0001128928'
              'Scenario 4: Website ':
                description: Website
                value:
                  website: 'www.flowersfoods.com'
              'Scenario 5: EIN ':
                description: EIN.
                value:
                  ein: '570384104'
              'Scenario 6: LinkedIn URL':
                description: LinkedIn URL.
                value:
                  linkedin_url: 'www.linkedin.com/flowers'
              'Scenario 7: Name ':
                description: Company name (fuzzy search)
                value:
                  company_name: 'Flower'
              'Scenario 8: Email ':
                description: Email
                value:
                  email: 'joe@flowersfoods.com'
              'Scenario 9: BQ ID ':
                description: BQ ID
                value:
                  bq_id: '100003273517'
              'Scenario 10: Name, Website':
                description: Company name (fuzzy search) and website extact match
                value:
                  company_name: 'Flower'
                  website: 'www.flowersfoods.com'
              'Scenario 11: Name, Address':
                description: Company name (fuzzy search) and Address match
                value:
                  company_name: 'Flower'
                  website: '1919 Flowers Cir'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_org_res_200'          
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_400'
              examples:
                'Bad Request, example 1':
                  value:
                    message: Invalid request body
                'Bad Request, example 2':
                  value:
                    message: Invalid search parameters
                    
        '401':
          description: Authorization header is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_401'
      security:
        - basicAuth: []
  /advance-search/le:
    post:
      summary: Legal Entity Search API
      tags:
        - Business Identity API
      
      description: >-
        The BQ Advanced Search API is generally suitable for clients in capital
        markets, investment banking, consulting, private equity, and venture
        capital. It is suitable for such purposes because the search results are
        biased in favor of large companies as well as public companies. That is,
        if two companies are equally matched to the search criteria entered by
        the user, then the BQ Advanced Search API ranks higher in the results
        the company that is larger or public. The BQ Advanced Search API is not
        suitable for users looking for small companies, such as those with less
        than 100 employees; such users should instead leverage the BQ Neutral
        Search API.<br><br> The BQ Advanced Search API enables a user to find a
        specific company. Searches can be performed using company name, address,
        website, and other firmographic criteria. The top 10 results are
        returned, including core firmographics (name, address, website, phone,
        industry, etc.), employment, revenue, and payroll. The results of the BQ
        Advanced Search API are sorted based on BQ’s proprietary match score
        which is weighted in favor of large companies.<br><br> The drop-down
        menu on the right provides a series of examples demonstrating how to use
        the BQ Advanced Search API. <br><br>Please refer to <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_Search_API_Data_Dictionary.xlsx"
        >BrightQuery_Search_API_Data_Dictionary</a> to obtain details of the
        attributes in API response. For a complete list of all fields that BQ
        can provide, including detailed financials, please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
        >click here</a>. Please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
        here</a> to download the list of IRS industries, which is the primary
        industry classification system used by BQ.<br><br>The average response
        time of the BQ Advanced Search API is 1 second.
      parameters:
        - name: company_name
          in: query
          description: Legal name of the Legal Entity.
          schema:
            type: string
            example: "FLOWERS FOODS INC"
        - name: ein
          in: query
          description: Unique number issued by the IRS given to the Organization.
          schema:
            type: string
            example: "570384104"        
        - name: website
          in: query
          description: Link to the Organization's primary website.
          schema:
            type: string
            example: "www.flowersfoods.com"                        
        - name: address
          in: query
          description: Address of Legal Entity.
          schema:
            type: string
            example: "Apple Park Way Cupertino"
        - name: email
          in: query
          description: Email of Organization.
          schema:
            type: string
            example: "joe@flowersfoods.com"
      requestBody:
        required: true
        content:
          application/json:
            examples:
              'Scenario 1: Name ':
                description: Company name (fuzzy search)
                value:
                  company_name: 'Flower' 
              'Scenario 2: EIN ':
                description: EIN.
                value:
                  ein: '570384104'                                         
              'Scenario 3: Website ':
                description: Website
                value:
                  website: 'www.flowersfoods.com'              
              'Scenario 4: Email ':
                description: Email
                value:
                  email: 'joe@flowersfoods.com'              
              'Scenario 5: Name, Website':
                description: Company name (fuzzy search) and website extact match
                value:
                  company_name: 'Flower'
                  website: 'www.flowersfoods.com'
              'Scenario 6: Name, Address':
                description: Company name (fuzzy search) and Address match
                value:
                  company_name: 'Flower'
                  website: '1919 Flowers Cir'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_le_res_200'          
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_400'
              examples:
                'Bad Request, example 1':
                  value:
                    message: Invalid request body
                'Bad Request, example 2':
                  value:
                    message: Invalid search parameters
                    
        '401':
          description: Authorization header is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_401'
      security:
        - basicAuth: []
  /advance-search/officers:
    post:
      summary: Officers Search API
      tags:
        - Business Identity API
      
      description: >-
        The BQ Advanced Search API is generally suitable for clients in capital
        markets, investment banking, consulting, private equity, and venture
        capital. It is suitable for such purposes because the search results are
        biased in favor of large companies as well as public companies. That is,
        if two companies are equally matched to the search criteria entered by
        the user, then the BQ Advanced Search API ranks higher in the results
        the company that is larger or public. The BQ Advanced Search API is not
        suitable for users looking for small companies, such as those with less
        than 100 employees; such users should instead leverage the BQ Neutral
        Search API.<br><br> The BQ Advanced Search API enables a user to find a
        specific company. Searches can be performed using company name, address,
        website, and other firmographic criteria. The top 10 results are
        returned, including core firmographics (name, address, website, phone,
        industry, etc.), employment, revenue, and payroll. The results of the BQ
        Advanced Search API are sorted based on BQ’s proprietary match score
        which is weighted in favor of large companies.<br><br> The drop-down
        menu on the right provides a series of examples demonstrating how to use
        the BQ Advanced Search API. <br><br>Please refer to <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_Search_API_Data_Dictionary.xlsx"
        >BrightQuery_Search_API_Data_Dictionary</a> to obtain details of the
        attributes in API response. For a complete list of all fields that BQ
        can provide, including detailed financials, please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
        >click here</a>. Please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
        here</a> to download the list of IRS industries, which is the primary
        industry classification system used by BQ.<br><br>The average response
        time of the BQ Advanced Search API is 1 second.
      parameters:
        - name: officer_name
          in: query
          description: Name of Officer.
          schema:
            type: string
            example: "Elon Musk"        
      requestBody:
        required: true
        content:
          application/json:
            examples:
              'Scenario 1: Officer Name ':
                description: Officer Name
                value:
                  company_name: 'Elon Musk'               
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_officers_res_200'          
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_400'
              examples:
                'Bad Request, example 1':
                  value:
                    message: Invalid request body
                'Bad Request, example 2':
                  value:
                    message: Invalid search parameters
                    
        '401':
          description: Authorization header is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_401'
      security:
        - basicAuth: []
  /bq-append/org:
    post:
      summary: Organization Search & Append API
      tags:
        - KYB Append API
      
      description: >-
        The BQ Advanced Search API is generally suitable for clients in capital
        markets, investment banking, consulting, private equity, and venture
        capital. It is suitable for such purposes because the search results are
        biased in favor of large companies as well as public companies. That is,
        if two companies are equally matched to the search criteria entered by
        the user, then the BQ Advanced Search API ranks higher in the results
        the company that is larger or public. The BQ Advanced Search API is not
        suitable for users looking for small companies, such as those with less
        than 100 employees; such users should instead leverage the BQ Neutral
        Search API.<br><br> The BQ Advanced Search API enables a user to find a
        specific company. Searches can be performed using company name, address,
        website, and other firmographic criteria. The top 10 results are
        returned, including core firmographics (name, address, website, phone,
        industry, etc.), employment, revenue, and payroll. The results of the BQ
        Advanced Search API are sorted based on BQ’s proprietary match score
        which is weighted in favor of large companies.<br><br> The drop-down
        menu on the right provides a series of examples demonstrating how to use
        the BQ Advanced Search API. <br><br>Please refer to <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_Search_API_Data_Dictionary.xlsx"
        >BrightQuery_Search_API_Data_Dictionary</a> to obtain details of the
        attributes in API response. For a complete list of all fields that BQ
        can provide, including detailed financials, please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
        >click here</a>. Please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
        here</a> to download the list of IRS industries, which is the primary
        industry classification system used by BQ.<br><br>The average response
        time of the BQ Advanced Search API is 1 second.
      parameters:
        - name: ticker
          in: query
          description: TICKER of the Organization if it is public.
          schema:
            type: string
            example: "MSFT"
        - name: ticker_parent
          in: query
          description: TICKER of the Organization's parent holding company if the parent is publicly listed.
          schema:
            type: string
            example: "MSFT"
        - name: ticker_related
          in: query
          description: All TICKERs associated with the Organization if it is publicly listed.
          schema:
            type: string
            example: "MSFT"
        - name: lei
          in: query
          description: Legal Entity Identifier of the Organization.
          schema:
            type: string
            example: "7YNCQQNDK8FBM9BBTK25"
        - name: cik
          in: query
          description: Central Index Key (CIK) is a unique number issued by the SEC.
          schema:
            type: string
            example: "0001128928"
        - name: website
          in: query
          description: Link to the Organization's primary website.
          schema:
            type: string
            example: "www.flowersfoods.com"
        - name: ein
          in: query
          description: Unique number issued by the IRS given to the Organization.
          schema:
            type: string
            example: "570384104"
        - name: linkedin_url
          in: query
          description: Organization Linkedin URL.
          schema:
            type: string
            example: "www.linkedin.com/flowers"
        - name: company_name
          in: query
          description: Name of Organization.
          schema:
            type: string
            example: "FLOWERS FOODS INC"
        - name: address
          in: query
          description: Address of Organization.
          schema:
            type: string
            example: "1919 Flowers Cir Thomasville, GA 31757"
        - name: email
          in: query
          description: Email of Organization.
          schema:
            type: string
            example: "joe@flowersfoods.com"
        - name: bq_id
          in: query
          description: Unique ID assigned by BQ to the Organization.
          schema:
            type: string
            example: "100003273517"
      requestBody:
        required: true
        content:
          application/json:
            examples:
              'Scenario 1: Ticker ':
                description: Ticker.
                value:
                    ticker: 'MSFT'                    
              'Scenario 2: LEI ':
                description: LEI.
                value:
                  lei: '7YNCQQNDK8FBM9BBTK25'
              'Scenario 3: CIK ':
                description: CIK
                value:
                  cik: '0001128928'
              'Scenario 4: Website ':
                description: Website
                value:
                  website: 'www.flowersfoods.com'
              'Scenario 5: EIN ':
                description: EIN.
                value:
                  ein: '570384104'
              'Scenario 6: LinkedIn URL':
                description: LinkedIn URL.
                value:
                  linkedin_url: 'www.linkedin.com/flowers'
              'Scenario 7: Name ':
                description: Company name (fuzzy search)
                value:
                  company_name: 'Flower'
              'Scenario 8: Email ':
                description: Email
                value:
                  email: 'joe@flowersfoods.com'
              'Scenario 9: BQ ID ':
                description: BQ ID
                value:
                  bq_id: '100003273517'
              'Scenario 10: Name, Website':
                description: Company name (fuzzy search) and website extact match
                value:
                  company_name: 'Flower'
                  website: 'www.flowersfoods.com'
              'Scenario 11: Name, Address':
                description: Company name (fuzzy search) and Address match
                value:
                  company_name: 'Flower'
                  website: '1919 Flowers Cir'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_append_org_res_200'          
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_400'
              examples:
                'Bad Request, example 1':
                  value:
                    message: Invalid request body
                'Bad Request, example 2':
                  value:
                    message: Invalid search parameters
                    
        '401':
          description: Authorization header is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_401'
      security:
        - basicAuth: []
  /bq-append/le:
    post:
      summary: Legal Entity Search & Append API
      tags:
        - KYB Append API
      
      description: >-
        The BQ Advanced Search API is generally suitable for clients in capital
        markets, investment banking, consulting, private equity, and venture
        capital. It is suitable for such purposes because the search results are
        biased in favor of large companies as well as public companies. That is,
        if two companies are equally matched to the search criteria entered by
        the user, then the BQ Advanced Search API ranks higher in the results
        the company that is larger or public. The BQ Advanced Search API is not
        suitable for users looking for small companies, such as those with less
        than 100 employees; such users should instead leverage the BQ Neutral
        Search API.<br><br> The BQ Advanced Search API enables a user to find a
        specific company. Searches can be performed using company name, address,
        website, and other firmographic criteria. The top 10 results are
        returned, including core firmographics (name, address, website, phone,
        industry, etc.), employment, revenue, and payroll. The results of the BQ
        Advanced Search API are sorted based on BQ’s proprietary match score
        which is weighted in favor of large companies.<br><br> The drop-down
        menu on the right provides a series of examples demonstrating how to use
        the BQ Advanced Search API. <br><br>Please refer to <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_Search_API_Data_Dictionary.xlsx"
        >BrightQuery_Search_API_Data_Dictionary</a> to obtain details of the
        attributes in API response. For a complete list of all fields that BQ
        can provide, including detailed financials, please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
        >click here</a>. Please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
        here</a> to download the list of IRS industries, which is the primary
        industry classification system used by BQ.<br><br>The average response
        time of the BQ Advanced Search API is 1 second.
      parameters:
        - name: company_name
          in: query
          description: Legal name of the Legal Entity.
          schema:
            type: string
            example: "FLOWERS FOODS INC"
        - name: ein
          in: query
          description: Unique number issued by the IRS given to the Organization.
          schema:
            type: string
            example: "570384104"        
        - name: website
          in: query
          description: Link to the Organization's primary website.
          schema:
            type: string
            example: "www.flowersfoods.com"                        
        - name: address
          in: query
          description: Address of Legal Entity.
          schema:
            type: string
            example: "Apple Park Way Cupertino"
        - name: email
          in: query
          description: Email of Organization.
          schema:
            type: string
            example: "joe@flowersfoods.com"
      requestBody:
        required: true
        content:
          application/json:
            examples:
              'Scenario 1: Name ':
                description: Company name (fuzzy search)
                value:
                  company_name: 'Flower' 
              'Scenario 2: EIN ':
                description: EIN.
                value:
                  ein: '570384104'                                         
              'Scenario 3: Website ':
                description: Website
                value:
                  website: 'www.flowersfoods.com'              
              'Scenario 4: Email ':
                description: Email
                value:
                  email: 'joe@flowersfoods.com'              
              'Scenario 5: Name, Website':
                description: Company name (fuzzy search) and website extact match
                value:
                  company_name: 'Flower'
                  website: 'www.flowersfoods.com'
              'Scenario 6: Name, Address':
                description: Company name (fuzzy search) and Address match
                value:
                  company_name: 'Flower'
                  website: '1919 Flowers Cir'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_append_le_res_200'          
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_400'
              examples:
                'Bad Request, example 1':
                  value:
                    message: Invalid request body
                'Bad Request, example 2':
                  value:
                    message: Invalid search parameters
                    
        '401':
          description: Authorization header is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_401'
      security:
        - basicAuth: []
  /extraction_api/firmographics:
    get:
      summary: Firmographics
      tags:
        - Extraction API      
      description: >-
        The BQ Advanced Search API is generally suitable for clients in capital
        markets, investment banking, consulting, private equity, and venture
        capital. It is suitable for such purposes because the search results are
        biased in favor of large companies as well as public companies. That is,
        if two companies are equally matched to the search criteria entered by
        the user, then the BQ Advanced Search API ranks higher in the results
        the company that is larger or public. The BQ Advanced Search API is not
        suitable for users looking for small companies, such as those with less
        than 100 employees; such users should instead leverage the BQ Neutral
        Search API.<br><br> The BQ Advanced Search API enables a user to find a
        specific company. Searches can be performed using company name, address,
        website, and other firmographic criteria. The top 10 results are
        returned, including core firmographics (name, address, website, phone,
        industry, etc.), employment, revenue, and payroll. The results of the BQ
        Advanced Search API are sorted based on BQ’s proprietary match score
        which is weighted in favor of large companies.<br><br> The drop-down
        menu on the right provides a series of examples demonstrating how to use
        the BQ Advanced Search API. <br><br>Please refer to <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_Search_API_Data_Dictionary.xlsx"
        >BrightQuery_Search_API_Data_Dictionary</a> to obtain details of the
        attributes in API response. For a complete list of all fields that BQ
        can provide, including detailed financials, please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
        >click here</a>. Please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
        here</a> to download the list of IRS industries, which is the primary
        industry classification system used by BQ.<br><br>The average response
        time of the BQ Advanced Search API is 1 second.
      parameters:
        - name: bq_id
          in: query
          description: Unique ID assigned by BQ to the Organization.
          schema:
            type: integer
            example: 100003273517
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_firmographics_res_200'          
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_400'
              examples:
                'Bad Request, example 1':
                  value:
                    message: Invalid request body
                'Bad Request, example 2':
                  value:
                    message: No input value
        '422':
          description: Search Parameter Missing 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_422'              
        '401':
          description: Authorization header is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_401'
      security:
        - basicAuth: []
  /extraction_api/mr:
    get:
      summary: Financials - Most Recent(MR)
      tags:
        - Extraction API      
      description: >-
        The BQ Advanced Search API is generally suitable for clients in capital
        markets, investment banking, consulting, private equity, and venture
        capital. It is suitable for such purposes because the search results are
        biased in favor of large companies as well as public companies. That is,
        if two companies are equally matched to the search criteria entered by
        the user, then the BQ Advanced Search API ranks higher in the results
        the company that is larger or public. The BQ Advanced Search API is not
        suitable for users looking for small companies, such as those with less
        than 100 employees; such users should instead leverage the BQ Neutral
        Search API.<br><br> The BQ Advanced Search API enables a user to find a
        specific company. Searches can be performed using company name, address,
        website, and other firmographic criteria. The top 10 results are
        returned, including core firmographics (name, address, website, phone,
        industry, etc.), employment, revenue, and payroll. The results of the BQ
        Advanced Search API are sorted based on BQ’s proprietary match score
        which is weighted in favor of large companies.<br><br> The drop-down
        menu on the right provides a series of examples demonstrating how to use
        the BQ Advanced Search API. <br><br>Please refer to <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_Search_API_Data_Dictionary.xlsx"
        >BrightQuery_Search_API_Data_Dictionary</a> to obtain details of the
        attributes in API response. For a complete list of all fields that BQ
        can provide, including detailed financials, please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
        >click here</a>. Please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
        here</a> to download the list of IRS industries, which is the primary
        industry classification system used by BQ.<br><br>The average response
        time of the BQ Advanced Search API is 1 second.
      parameters:
        - name: bq_id
          in: query
          description: The starting date to retrieve future operating hours from. Defaults to today's date.
          schema:
            type: integer
            example: 100003273517
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Bad Request
        '401':
          description: Authorization header is missing or invalid
          # content:
          #   application/json:
      security:
        - basicAuth: []  
  /extraction_api/ts:
    get:
      summary: Financials Time Series Annual (TS)
      tags:
        - Extraction API      
      description: >-
        The BQ Advanced Search API is generally suitable for clients in capital
        markets, investment banking, consulting, private equity, and venture
        capital. It is suitable for such purposes because the search results are
        biased in favor of large companies as well as public companies. That is,
        if two companies are equally matched to the search criteria entered by
        the user, then the BQ Advanced Search API ranks higher in the results
        the company that is larger or public. The BQ Advanced Search API is not
        suitable for users looking for small companies, such as those with less
        than 100 employees; such users should instead leverage the BQ Neutral
        Search API.<br><br> The BQ Advanced Search API enables a user to find a
        specific company. Searches can be performed using company name, address,
        website, and other firmographic criteria. The top 10 results are
        returned, including core firmographics (name, address, website, phone,
        industry, etc.), employment, revenue, and payroll. The results of the BQ
        Advanced Search API are sorted based on BQ’s proprietary match score
        which is weighted in favor of large companies.<br><br> The drop-down
        menu on the right provides a series of examples demonstrating how to use
        the BQ Advanced Search API. <br><br>Please refer to <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_Search_API_Data_Dictionary.xlsx"
        >BrightQuery_Search_API_Data_Dictionary</a> to obtain details of the
        attributes in API response. For a complete list of all fields that BQ
        can provide, including detailed financials, please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
        >click here</a>. Please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
        here</a> to download the list of IRS industries, which is the primary
        industry classification system used by BQ.<br><br>The average response
        time of the BQ Advanced Search API is 1 second.
      parameters:
        - name: bq_id
          in: query
          description: The starting date to retrieve future operating hours from. Defaults to today's date.
          schema:
            type: integer
            example: 100003273517
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Bad Request
        '401':
          description: Authorization header is missing or invalid
          # content:
          #   application/json:
      security:
        - basicAuth: []
  /extraction_api/tsq:
    get:
      summary: Financials Time Series Quartely (TSQ)
      tags:
        - Extraction API      
      description: >-
        The BQ Advanced Search API is generally suitable for clients in capital
        markets, investment banking, consulting, private equity, and venture
        capital. It is suitable for such purposes because the search results are
        biased in favor of large companies as well as public companies. That is,
        if two companies are equally matched to the search criteria entered by
        the user, then the BQ Advanced Search API ranks higher in the results
        the company that is larger or public. The BQ Advanced Search API is not
        suitable for users looking for small companies, such as those with less
        than 100 employees; such users should instead leverage the BQ Neutral
        Search API.<br><br> The BQ Advanced Search API enables a user to find a
        specific company. Searches can be performed using company name, address,
        website, and other firmographic criteria. The top 10 results are
        returned, including core firmographics (name, address, website, phone,
        industry, etc.), employment, revenue, and payroll. The results of the BQ
        Advanced Search API are sorted based on BQ’s proprietary match score
        which is weighted in favor of large companies.<br><br> The drop-down
        menu on the right provides a series of examples demonstrating how to use
        the BQ Advanced Search API. <br><br>Please refer to <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_Search_API_Data_Dictionary.xlsx"
        >BrightQuery_Search_API_Data_Dictionary</a> to obtain details of the
        attributes in API response. For a complete list of all fields that BQ
        can provide, including detailed financials, please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
        >click here</a>. Please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
        here</a> to download the list of IRS industries, which is the primary
        industry classification system used by BQ.<br><br>The average response
        time of the BQ Advanced Search API is 1 second.
      parameters:
        - name: bq_id
          in: query
          description: The starting date to retrieve future operating hours from. Defaults to today's date.
          schema:
            type: integer
            example: 100003273517
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Bad Request
        '401':
          description: Authorization header is missing or invalid
          # content:
          #   application/json:
      security:
        - basicAuth: []
  /extraction_api/tsm:
    get:
      summary: Financials Time Series Monthly (TSM)
      tags:
        - Extraction API      
      description: >-
        The BQ Advanced Search API is generally suitable for clients in capital
        markets, investment banking, consulting, private equity, and venture
        capital. It is suitable for such purposes because the search results are
        biased in favor of large companies as well as public companies. That is,
        if two companies are equally matched to the search criteria entered by
        the user, then the BQ Advanced Search API ranks higher in the results
        the company that is larger or public. The BQ Advanced Search API is not
        suitable for users looking for small companies, such as those with less
        than 100 employees; such users should instead leverage the BQ Neutral
        Search API.<br><br> The BQ Advanced Search API enables a user to find a
        specific company. Searches can be performed using company name, address,
        website, and other firmographic criteria. The top 10 results are
        returned, including core firmographics (name, address, website, phone,
        industry, etc.), employment, revenue, and payroll. The results of the BQ
        Advanced Search API are sorted based on BQ’s proprietary match score
        which is weighted in favor of large companies.<br><br> The drop-down
        menu on the right provides a series of examples demonstrating how to use
        the BQ Advanced Search API. <br><br>Please refer to <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_Search_API_Data_Dictionary.xlsx"
        >BrightQuery_Search_API_Data_Dictionary</a> to obtain details of the
        attributes in API response. For a complete list of all fields that BQ
        can provide, including detailed financials, please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_data_dictionary.xlsx"
        >click here</a>. Please <a
        href="https://s3.us-west-1.amazonaws.com/docs.brightquery.com/BrightQuery_list+of+IRS+industries_subsector_sector_with_codes_Sep+2021.xlsx">click
        here</a> to download the list of IRS industries, which is the primary
        industry classification system used by BQ.<br><br>The average response
        time of the BQ Advanced Search API is 1 second.
      parameters:
        - name: bq_id
          in: query
          description: The starting date to retrieve future operating hours from. Defaults to today's date.
          schema:
            type: integer
            example: 100003273517
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Bad Request
        '401':
          description: Authorization header is missing or invalid
          # content:
          #   application/json:
      security:
        - basicAuth: []  
components:
  schemas:    
    search_org_res_200:
      type: object
      properties:
        root:
          type: object
          properties:
            id:
              type: string
              example: toplevel
            relevance:
              type: integer
              example: 1
            fields:
              type: object
              properties:
                totalCount:
                  type: integer
                  example: 1
            coverage:
              type: object
              properties:
                coverage:
                  type: integer
                  example: 100
                documents:
                  type: integer
                  example: 101316736
                full:
                  type: string
                  example: 'true'
                nodes:
                  type: integer
                  example: 10
                results:
                  type: integer
                  example: 1
                resultsFull:
                  type: integer
                  example: 1
            children:
              type: array
              items:
                type: object
                required:
                  - bq_organization_id
                  - bq_organization_name
                  - bq_organization_legal_name
                  - bq_organization_active_indicator
                  - bq_organization_address1_line_1
                  - bq_organization_address1_city
                  - bq_organization_address1_state
                  - bq_organization_address1_state_name
                  - bq_organization_address1_county_name
                  - bq_organization_address1_country
                  - bq_organization_address1_zip5
                  - bq_organization_address_summary
                  - bq_organization_website
                  - bq_organization_ein
                  - bq_organization_cik
                  - bq_organization_lei
                  - bq_organization_ticker
                  - bq_organization_naics_sector_name
                  - bq_legal_entity_id
                  - bq_legal_entity_name
                  - bq_legal_entity_address1_line_1
                  - bq_legal_entity_address1_city
                  - bq_legal_entity_address1_state
                  - bq_legal_entity_address1_zip5
                  - bq_organization_linkedin_url
                  - bq_tickers_related
                  - bq_ticker_parent
                  - bq_match_types
                  - bq_revenue_range
                  - bq_employment_range
                properties:
                  bq_organization_id:
                    type: string
                    example: '100003273517'
                  bq_organization_name:
                    type: string
                    example: FLOWERS FOODS INC
                  bq_organization_legal_name:
                    type: string
                    example: FLOWERS FOODS, INC
                  bq_organization_active_indicator:
                    type: integer
                    example: 1
                  bq_organization_address1_line_1:
                    type: string
                    example: 1919 Flowers Cir
                  bq_organization_address1_city:
                    type: string
                    example: Thomasville
                  bq_organization_address1_state:
                    type: string
                    example: GA
                  bq_organization_address1_state_name:
                    type: string
                    example: Georgia
                  bq_organization_address1_county_name:
                    type: string
                    example: Thomas County
                  bq_organization_address1_country:
                    type: string
                    example: United States
                  bq_organization_address1_zip5:
                    type: string
                    example: '31757'
                  bq_organization_address_summary:
                    type: string
                    example: 1919 Flowers Cir, Thomasville, Georgia GA, 31757
                  bq_organization_website:
                    type: string
                    example: https://flowersfoods.com/
                  bq_organization_ein:
                    type: string
                    example: '582582379'
                  bq_organization_cik:
                    type: string
                    example: '0001128928'
                  bq_organization_lei:
                    type: string
                    example: 7YNCQQNDK8FBM9BBTK25
                  bq_organization_ticker:
                    type: string
                    example: FLO
                  bq_organization_naics_sector_name:
                    type: string
                    example: Manufacturing
                  bq_legal_entity_id:
                    type: string
                    example: BQ_US_GA_0046273
                  bq_legal_entity_name:
                    type: string
                    example: FLOWERS FOODS, INC
                  bq_legal_entity_address1_line_1:
                    type: string
                    example: 1919 Flowers Cir
                  bq_legal_entity_address1_city:
                    type: string
                    example: Thomasville
                  bq_legal_entity_address1_state:
                    type: string
                    example: GA
                  bq_legal_entity_address1_zip5:
                    type: string
                    example: '31757'
                  bq_organization_linkedin_url:
                    type: string
                    example: https://www.linkedin.com/company/flowers-foods/
                  bq_tickers_related:
                    type: array
                  bq_ticker_parent:
                    type: string
                    example: ''
                  bq_match_types:
                    type: string
                    example: Name Only
                  bq_revenue_range:
                    type: string
                    example: '> $1 Billion'
                  bq_employment_range:
                    type: string
                    example: 500 - 10,000
        status:
          type: integer
          example: 200
    search_le_res_200:
      type: object
      properties:
        root:
          type: object
          properties:
            id:
              type: string
              example: toplevel
            relevance:
              type: integer
              example: 1
            fields:
              type: object
              properties:
                totalCount:
                  type: integer
                  example: 1
            coverage:
              type: object
              properties:
                coverage:
                  type: integer
                  example: 100
                documents:
                  type: integer
                  example: 101316736
                full:
                  type: string
                  example: 'true'
                nodes:
                  type: integer
                  example: 10
                results:
                  type: integer
                  example: 1
                resultsFull:
                  type: integer
                  example: 1
            children:
              type: array
              items:
                type: object
                required:
                  - bq_organization_id
                  - bq_organization_name
                  - bq_organization_legal_name
                  - bq_organization_active_indicator
                  - bq_organization_address1_line_1
                  - bq_organization_address1_city
                  - bq_organization_address1_state
                  - bq_organization_address1_state_name
                  - bq_organization_address1_county_name
                  - bq_organization_address1_country
                  - bq_organization_address1_zip5
                  - bq_organization_address_summary
                  - bq_organization_website
                  - bq_organization_ein
                  - bq_organization_naics_sector_name
                  - bq_legal_entity_id
                  - bq_legal_entity_name
                  - bq_legal_entity_address1_line_1
                  - bq_legal_entity_address1_city
                  - bq_legal_entity_address1_state
                  - bq_legal_entity_address1_zip5
                  - bq_organization_linkedin_url
                  - bq_tickers_related
                  - bq_match_types
                  - bq_revenue_range
                  - bq_employment_range
                properties:
                  bq_organization_id:
                    type: string
                    example: '100029332766'
                  bq_organization_name:
                    type: string
                    example: FLOWER CITY GROUP, INC.
                  bq_organization_legal_name:
                    type: string
                    example: FLOWER CITY GROUP, INC
                  bq_organization_active_indicator:
                    type: integer
                    example: 1
                  bq_organization_address1_line_1:
                    type: string
                    example: 1725 Mount Read Blvd
                  bq_organization_address1_city:
                    type: string
                    example: Rochester
                  bq_organization_address1_state:
                    type: string
                    example: NY
                  bq_organization_address1_state_name:
                    type: string
                    example: New York
                  bq_organization_address1_county_name:
                    type: string
                    example: Monroe County
                  bq_organization_address1_country:
                    type: string
                    example: United States
                  bq_organization_address1_zip5:
                    type: string
                    example: '14606'
                  bq_organization_address_summary:
                    type: string
                    example: 1725 Mount Read Blvd, Rochester, New York NY, 14606
                  bq_organization_website:
                    type: string
                    format: url
                    example: https://www.flowercitygroup.com
                  bq_organization_ein:
                    type: string
                    example: '203200871'
                  bq_organization_naics_sector_name:
                    type: string
                    example: Information
                  bq_legal_entity_id:
                    type: string
                    example: BQ_US_NY_3233604
                  bq_legal_entity_name:
                    type: string
                    example: FLOWER CITY GROUP, INC
                  bq_legal_entity_address1_line_1:
                    type: string
                    example: 1725 Mount Read Blvd
                  bq_legal_entity_address1_city:
                    type: string
                    example: Rochester
                  bq_legal_entity_address1_state:
                    type: string
                    example: NY
                  bq_legal_entity_address1_zip5:
                    type: string
                    example: '14606'
                  bq_organization_linkedin_url:
                    type: string
                    format: url
                    example: https://www.linkedin.com/company/flower-city-group/
                  bq_tickers_related:
                    type: array
                  bq_match_types:
                    type: string
                    example: Name Only
                  bq_revenue_range:
                    type: string
                    example: < $100 Million
                  bq_employment_range:
                    type: string
                    example: < 500
        status:
          type: integer
          example: 200
    search_officers_res_200:
      type: object
      properties:
        root:
          type: object
          properties:
            id:
              type: string
              example: toplevel
            relevance:
              type: integer
              example: 1
            fields:
              type: object
              properties:
                totalCount:
                  type: integer
                  example: 1
            coverage:
              type: object
              properties:
                coverage:
                  type: integer
                  example: 100
                documents:
                  type: integer
                  example: 101316736
                full:
                  type: string
                  example: 'true'
                nodes:
                  type: integer
                  example: 10
                results:
                  type: integer
                  example: 1
                resultsFull:
                  type: integer
                  example: 1
            children:
              type: array
              items:
                type: object
                required:
                  - bq_officer_id
                  - bq_legal_entity_officer_id
                  - bq_officer_full_name
                  - bq_officer_position
                  - bq_officer_person_or_company
                  - bq_legal_entity_id
                  - bq_legal_entity_name
                  - bq_legal_entity_address1_line_1
                  - bq_legal_entity_address1_city
                  - bq_legal_entity_address1_state
                  - bq_legal_entity_address1_zip5
                  - bq_organization_id
                  - bq_organization_name
                  - bq_organization_address1_state_name
                  - bq_organization_address1_state
                  - bq_organization_naics_sector_name
                  - bq_organization_active_indicator
                  - bq_revenue_range
                  - bq_employment_range
                  - bq_match_types
                properties:
                  bq_officer_id:
                    type: string
                    example: BQ_OFF_1015464458
                  bq_legal_entity_officer_id:
                    type: string
                    example: BQ_US_CA_2503946_OFF0001
                  bq_officer_full_name:
                    type: string
                    example: ELON MUSK
                  bq_officer_position:
                    type: string
                    example: chief executive officer
                  bq_officer_person_or_company:
                    type: string
                    example: Person
                  bq_legal_entity_id:
                    type: string
                    example: BQ_US_CA_2503946
                  bq_legal_entity_name:
                    type: string
                    example: BFR INTERNATIONAL CORP
                  bq_legal_entity_address1_line_1:
                    type: string
                    example: 1310 E Grand Ave
                  bq_legal_entity_address1_city:
                    type: string
                    example: El Segundo
                  bq_legal_entity_address1_state:
                    type: string
                    example: CA
                  bq_legal_entity_address1_zip5:
                    type: string
                    example: '90245'
                  bq_organization_id:
                    type: string
                    example: '100017177469'
                  bq_organization_name:
                    type: string
                    example: BFR INTERNATIONAL CORP
                  bq_organization_address1_state_name:
                    type: string
                    example: California
                  bq_organization_address1_state:
                    type: string
                    example: CA
                  bq_organization_naics_sector_name:
                    type: string
                    example: Wholesale Trade
                  bq_organization_active_indicator:
                    type: integer
                    example: 0
                  bq_revenue_range:
                    type: string
                    example: < $100 Million
                  bq_employment_range:
                    type: string
                    example: < 500
                  bq_match_types:
                    type: string
                    example: Name Only
        status:
          type: integer
          example: 200
    search_append_org_res_200:
      type: object
      properties:
        root:
          type: object
          properties:
            id:
              type: string
              example: toplevel
            relevance:
              type: integer
              example: 1
            fields:
              type: object
              properties:
                totalCount:
                  type: integer
                  example: 10
            coverage:
              type: object
              properties:
                coverage:
                  type: integer
                  example: 100
                documents:
                  type: integer
                  example: 101316736
                full:
                  type: string
                  example: 'true'
                nodes:
                  type: integer
                  example: 10
                results:
                  type: integer
                  example: 1
                resultsFull:
                  type: integer
                  example: 1
            children:
              type: array
              items:
                type: object
                required:
                  - bq_organization_id
                  - bq_organization_structure
                  - bq_organization_name
                  - bq_organization_legal_name
                  - bq_organization_jurisdiction_code
                  - bq_organization_company_number
                  - bq_organization_lfo
                  - bq_organization_date_founded
                  - bq_organization_active_indicator
                  - bq_organization_address1_type
                  - bq_organization_address1_valid_indicator
                  - bq_organization_address1_line_1
                  - bq_organization_address1_city
                  - bq_organization_address1_state
                  - bq_organization_address1_state_name
                  - bq_organization_address1_county_fips
                  - bq_organization_address1_county_name
                  - bq_organization_address1_country
                  - bq_organization_address1_zip5
                  - bq_organization_address1_latitude
                  - bq_organization_address1_longitude
                  - bq_organization_address1_rdi
                  - bq_organization_address1_cbsa_name
                  - bq_organization_address1_cbsa_code
                  - bq_organization_address1_location
                  - bq_organization_address_summary
                  - bq_legal_entity_address_summary
                  - bq_organization_valuation
                  - bq_organization_website
                  - bq_organization_ein
                  - bq_organization_cik
                  - bq_organization_lei
                  - bq_organization_nonprofit_indicator
                  - bq_organization_public_indicator
                  - bq_organization_de_ultimate_parent_indicator
                  - bq_organization_irs_industry_name
                  - bq_organization_subsector_code
                  - bq_organization_subsector_name
                  - bq_organization_naics_code
                  - bq_organization_naics_name
                  - bq_organization_naics_sector_code
                  - bq_organization_naics_sector_name
                  - bq_organization_company_type
                  - bq_organization_legal_address1_type
                  - bq_organization_legal_address1_valid_indicator
                  - bq_organization_legal_address1_line_1
                  - bq_organization_legal_address1_city
                  - bq_organization_legal_address1_state
                  - bq_organization_legal_address1_zip5
                  - bq_organization_legal_address1_zip_type
                  - bq_organization_legal_address1_summary
                  - bq_organization_legal_address1_rdi
                  - bq_score
                  - bq_sp500_indicator
                  - bq_legal_entity_id
                  - bq_legal_entity_name
                  - bq_legal_entity_jurisdiction_code
                  - bq_legal_entity_parent_status
                  - bq_legal_entity_immediate_children_ids
                  - bq_legal_entity_immediate_children_count
                  - bq_legal_entity_children_ids
                  - bq_legal_entity_children_count
                  - bq_legal_entity_immediate_establishment_ids
                  - bq_legal_entity_immediate_establishment_count
                  - bq_legal_entity_irs_taxlien_indicator
                  - bq_legal_entity_address1_type
                  - bq_legal_entity_address1_valid_indicator
                  - bq_legal_entity_address1_line_1
                  - bq_legal_entity_address1_city
                  - bq_legal_entity_address1_state
                  - bq_legal_entity_address1_state_name
                  - bq_legal_entity_address1_county_fips
                  - bq_legal_entity_address1_county_name
                  - bq_legal_entity_address1_zip5
                  - bq_legal_entity_address1_latitude
                  - bq_legal_entity_address1_longitude
                  - bq_legal_entity_address1_rdi
                  - bq_legal_entity_current_status
                  - bq_legal_entity_active_indicator
                  - bq_organization_linkedin_url
                  - bq_organization_crunchbase_url
                  - extracted_on
                  - bq_organization_irs_industry_code
                  - bq_organization_sector_code
                  - bq_organization_sector_name
                  - bq_organization_year_founded
                  - bq_business_code
                  - bq_public_indicator
                  - bq_industry_name
                  - bq_confidence_score
                  - bq_organization_ofac_indicator
                  - bq_organization_irs_taxlien_indicator
                  - bq_employment_mr
                  - bq_revenue_mr
                  - bq_ebitda_mr
                  - bq_cor_mr
                  - bq_net_income_mr
                  - bq_gross_profit_mr
                  - bq_total_assets_mr
                  - bq_payroll_mr
                  - bq_operating_expenses_mr
                  - bq_operating_income_mr
                  - bq_tax_and_interest_mr
                  - bq_gross_profit_margin_mr
                  - bq_ebitda_margin_mr
                  - bq_asset_turnover_mr
                  - bq_net_profit_margin_mr
                  - bq_return_on_assets_mr
                  - bq_return_on_sales_mr
                  - bq_revenue_mr_per_emp
                  - bq_ebitda_mr_per_emp
                  - bq_cor_mr_per_emp
                  - bq_net_income_mr_per_emp
                  - bq_gross_profit_mr_per_emp
                  - bq_total_assets_mr_per_emp
                  - bq_payroll_mr_per_emp
                  - bq_operating_expenses_mr_per_emp
                  - bq_operating_income_mr_per_emp
                  - bq_tax_and_interest_mr_per_emp
                  - bq_revenue_growth_yoy_mr
                  - bq_employment_growth_yoy_mr
                  - bq_revenue_growth_quarterly_yoy_mr
                  - bq_employment_growth_quarterly_yoy_mr
                  - bq_revenue_growth_qoq_mr
                  - bq_tickers_related
                  - bq_organization_eins_related
                  - bq_current_assets_mr
                  - bq_cash_mr
                  - bq_trade_notes_and_accounts_receivable_mr
                  - bq_inventories_mr
                  - bq_other_current_assets_mr
                  - bq_non_current_assets_mr
                  - bq_other_investments_mr
                  - bq_intangible_assets_amortizable_mr
                  - bq_other_non_current_assets_mr
                  - bq_total_liabilities_and_equity_mr
                  - bq_current_liabilities_mr
                  - bq_accounts_payable_mr
                  - bq_other_current_liabilities_mr
                  - bq_non_current_liabilities_mr
                  - bq_other_non_current_liabilities_mr
                  - bq_shareholders_equity_mr
                  - bq_less_allowance_for_bad_debts_mr
                  - bq_us_government_obligations_mr
                  - bq_tax_exempt_securities_mr
                  - bq_loans_to_shareholders_mr
                  - bq_mortgage_and_real_estate_loans_mr
                  - bq_buildings_and_other_depreciable_assets_mr
                  - bq_less_accumulated_depreciation_mr
                  - bq_depletable_assets_mr
                  - bq_less_accumulated_depletion_mr
                  - bq_land_mr
                  - bq_less_accumulated_amortization_mr
                  - bq_loans_from_shareholders_mr
                  - bq_match_types
                properties:
                  bq_organization_id:
                    type: string
                    example: '100003273517'
                  bq_organization_structure:
                    type: string
                    example: Multi-entity U.S. organization
                  bq_organization_name:
                    type: string
                    example: FLOWERS FOODS INC
                  bq_organization_legal_name:
                    type: string
                    example: FLOWERS FOODS, INC
                  bq_organization_jurisdiction_code:
                    type: string
                    example: US_GA
                  bq_organization_company_number:
                    type: string
                    example: '0046273'
                  bq_organization_lfo:
                    type: string
                    example: Corporation
                  bq_organization_date_founded:
                    type: string
                    example: '2000-10-19'
                  bq_organization_active_indicator:
                    type: integer
                    example: 1
                  bq_organization_address1_type:
                    type: string
                    example: Registered
                  bq_organization_address1_valid_indicator:
                    type: integer
                    example: 1
                  bq_organization_address1_line_1:
                    type: string
                    example: 1919 Flowers Cir
                  bq_organization_address1_city:
                    type: string
                    example: Thomasville
                  bq_organization_address1_state:
                    type: string
                    example: GA
                  bq_organization_address1_state_name:
                    type: string
                    example: Georgia
                  bq_organization_address1_county_fips:
                    type: string
                    example: '13275'
                  bq_organization_address1_county_name:
                    type: string
                    example: Thomas County
                  bq_organization_address1_country:
                    type: string
                    example: United States
                  bq_organization_address1_zip5:
                    type: string
                    example: '31757'
                  bq_organization_address1_latitude:
                    type: number
                    example: 30.81085968017578
                  bq_organization_address1_longitude:
                    type: number
                    example: -83.93624877929688
                  bq_organization_address1_rdi:
                    type: string
                    example: Commercial
                  bq_organization_address1_cbsa_name:
                    type: string
                    example: Thomasville, GA
                  bq_organization_address1_cbsa_code:
                    type: string
                    example: '45620'
                  bq_organization_address1_location:
                    type: object
                    required:
                      - lat
                      - lng
                    properties:
                      lat:
                        type: number
                        example: 30.81086
                      lng:
                        type: number
                        example: -83.936249
                  bq_organization_address_summary:
                    type: string
                    example: 1919 Flowers Cir, Thomasville, Georgia GA, 31757
                  bq_legal_entity_address_summary:
                    type: string
                    example: 1919 Flowers Cir, Thomasville, Georgia GA, 31757
                  bq_organization_valuation:
                    anyOf:
                      - type: integer
                        example: 2401249695
                      - type: number
                        example: 116749674.99
                  bq_organization_website:
                    type: string
                    example: https://flowersfoods.com/
                  bq_organization_ein:
                    type: string
                    example: '582582379'
                  bq_organization_cik:
                    type: string
                    example: '0001128928'
                  bq_organization_lei:
                    type: string
                    example: 7YNCQQNDK8FBM9BBTK25
                  bq_organization_nonprofit_indicator:
                    type: integer
                    example: 0
                  bq_organization_public_indicator:
                    type: integer
                    example: 1
                  bq_organization_de_ultimate_parent_indicator:
                    type: integer
                    example: 0
                  bq_organization_irs_industry_name:
                    type: string
                    example: Bakeries, Tortilla & Dry Pasta Manufacturing
                  bq_organization_subsector_code:
                    type: string
                    example: '3110'
                  bq_organization_subsector_name:
                    type: string
                    example: Food Manufacturing
                  bq_organization_naics_code:
                    type: string
                    example: '311811'
                  bq_organization_naics_name:
                    type: string
                    example: Retail Bakeries
                  bq_organization_naics_sector_code:
                    type: string
                    example: 31-33
                  bq_organization_naics_sector_name:
                    type: string
                    example: Manufacturing
                  bq_organization_company_type:
                    type: string
                    example: Employer
                  bq_organization_legal_address1_type:
                    type: string
                    example: Registered
                  bq_organization_legal_address1_valid_indicator:
                    type: integer
                    example: 1
                  bq_organization_legal_address1_line_1:
                    type: string
                    example: 1919 Flowers Cir
                  bq_organization_legal_address1_city:
                    type: string
                    example: Thomasville
                  bq_organization_legal_address1_state:
                    type: string
                    example: GA
                  bq_organization_legal_address1_zip5:
                    type: string
                    example: '31757'
                  bq_organization_legal_address1_zip_type:
                    type: string
                    example: Standard
                  bq_organization_legal_address1_summary:
                    type: string
                    example: Match-Mailable
                  bq_organization_legal_address1_rdi:
                    type: string
                    example: Commercial
                  bq_score:
                    anyOf:
                      - type: integer
                        example: 544
                      - type: string
                        example: ''
                  bq_sp500_indicator:
                    type: integer
                    example: 0
                  bq_legal_entity_id:
                    type: string
                    example: BQ_US_GA_0046273
                  bq_legal_entity_name:
                    type: string
                    example: FLOWERS FOODS, INC
                  bq_legal_entity_jurisdiction_code:
                    type: string
                    example: US_GA
                  bq_legal_entity_parent_status:
                    type: string
                    example: Ultimate Parent
                  bq_legal_entity_immediate_children_ids:
                    type: string
                    example: BQ_US_FL_F22000001446
                  bq_legal_entity_immediate_children_count:
                    anyOf:
                      - type: integer
                        example: 1
                      - type: string
                        example: ''
                  bq_legal_entity_children_ids:
                    type: string
                    example: BQ_US_FL_F22000001446
                  bq_legal_entity_children_count:
                    anyOf:
                      - type: integer
                        example: 1
                      - type: string
                        example: ''
                  bq_legal_entity_immediate_establishment_ids:
                    type: string
                    example: BQ_US_GA_0046273_0000001
                  bq_legal_entity_immediate_establishment_count:
                    anyOf:
                      - type: integer
                        example: 1
                      - type: string
                        example: ''
                  bq_legal_entity_irs_taxlien_indicator:
                    anyOf:
                      - type: boolean
                        example: false
                      - type: string
                        example: ''
                  bq_legal_entity_address1_type:
                    type: string
                    example: Registered
                  bq_legal_entity_address1_valid_indicator:
                    anyOf:
                      - type: boolean
                        example: true
                      - type: string
                        example: ''
                  bq_legal_entity_address1_line_1:
                    type: string
                    example: 1919 Flowers Cir
                  bq_legal_entity_address1_city:
                    type: string
                    example: Thomasville
                  bq_legal_entity_address1_state:
                    type: string
                    example: GA
                  bq_legal_entity_address1_state_name:
                    type: string
                    example: Georgia
                  bq_legal_entity_address1_county_fips:
                    type: string
                    example: '13275'
                  bq_legal_entity_address1_county_name:
                    type: string
                    example: Thomas County
                  bq_legal_entity_address1_zip5:
                    type: string
                    example: '31757'
                  bq_legal_entity_address1_latitude:
                    anyOf:
                      - type: number
                        example: 30.81086
                      - type: string
                        example: ''
                  bq_legal_entity_address1_longitude:
                    anyOf:
                      - type: number
                        example: -83.93625
                      - type: string
                        example: ''
                  bq_legal_entity_address1_rdi:
                    type: string
                    example: Commercial
                  bq_legal_entity_current_status:
                    type: string
                    example: Active/Compliance
                  bq_legal_entity_active_indicator:
                    type: integer
                    example: 1
                  bq_organization_linkedin_url:
                    type: string
                    example: https://www.linkedin.com/company/flowers-foods/
                  bq_organization_crunchbase_url:
                    type: string
                    example: https://www.crunchbase.com/organization/flowers-foods
                  extracted_on:
                    type: string
                    example: '2024-07-22 07:45:03'
                  bq_organization_irs_industry_code:
                    type: string
                    example: '311800'
                  bq_organization_sector_code:
                    type: string
                    example: '31'
                  bq_organization_sector_name:
                    type: string
                    example: Manufacturing
                  bq_organization_year_founded:
                    anyOf:
                      - type: integer
                        example: 2000
                      - type: string
                        example: ''
                  bq_business_code:
                    type: string
                    example: '311800'
                  bq_public_indicator:
                    type: integer
                    example: 1
                  bq_industry_name:
                    type: string
                    example: Bakeries, Tortilla & Dry Pasta Manufacturing
                  bq_confidence_score:
                    anyOf:
                      - type: integer
                        example: 100
                      - type: string
                        example: ''
                  bq_organization_ofac_indicator:
                    type: integer
                    example: 0
                  bq_organization_irs_taxlien_indicator:
                    type: integer
                    example: 0
                  bq_employment_mr:
                    type: integer
                    example: 9670
                  bq_revenue_mr:
                    type: integer
                    example: 5133155000
                  bq_ebitda_mr:
                    type: integer
                    example: 356519000
                  bq_cor_mr:
                    type: integer
                    example: 2628470000
                  bq_net_income_mr:
                    type: integer
                    example: 125749000
                  bq_gross_profit_mr:
                    type: integer
                    example: 2504685000
                  bq_total_assets_mr:
                    anyOf:
                      - type: integer
                        example: 3429166000
                      - type: string
                        example: ''
                  bq_payroll_mr:
                    type: integer
                    example: 190889701
                  bq_operating_expenses_mr:
                    type: integer
                    example: 2324035000
                  bq_operating_income_mr:
                    type: integer
                    example: 180650000
                  bq_tax_and_interest_mr:
                    type: integer
                    example: 54901000
                  bq_gross_profit_margin_mr:
                    type: number
                    example: 0.48794260060333267
                  bq_ebitda_margin_mr:
                    type: number
                    example: 0.0694541661025237
                  bq_asset_turnover_mr:
                    type: number
                    example: 1.496910619083474
                  bq_net_profit_margin_mr:
                    type: number
                    example: 0.024497409487927016
                  bq_return_on_assets_mr:
                    type: number
                    example: 0.0366704324025142
                  bq_return_on_sales_mr:
                    type: number
                    example: 0.03519278104791303
                  bq_revenue_mr_per_emp:
                    type: integer
                    example: 530832
                  bq_ebitda_mr_per_emp:
                    type: integer
                    example: 36868
                  bq_cor_mr_per_emp:
                    type: integer
                    example: 271816
                  bq_net_income_mr_per_emp:
                    type: integer
                    example: 13004
                  bq_gross_profit_mr_per_emp:
                    type: integer
                    example: 259016
                  bq_total_assets_mr_per_emp:
                    type: integer
                    example: 354619
                  bq_payroll_mr_per_emp:
                    type: integer
                    example: 19740
                  bq_operating_expenses_mr_per_emp:
                    type: integer
                    example: 240334
                  bq_operating_income_mr_per_emp:
                    type: integer
                    example: 18681
                  bq_tax_and_interest_mr_per_emp:
                    type: integer
                    example: 5677
                  bq_revenue_growth_yoy_mr:
                    anyOf:
                      - type: number
                        example: 0.008313968449152664
                      - type: string
                        example: ''
                  bq_employment_growth_yoy_mr:
                    anyOf:
                      - type: number
                        example: 0.1366080661840745
                      - type: integer
                        example: 0
                  bq_revenue_growth_quarterly_yoy_mr:
                    type: number
                    example: 0.02758240018038527
                  bq_employment_growth_quarterly_yoy_mr:
                    type: number
                    example: 0.13940139401394025
                  bq_revenue_growth_qoq_mr:
                    type: number
                    example: -0.10537521777864745
                  bq_tickers_related:
                    type: array
                  bq_organization_eins_related:
                    type: array
                  bq_current_assets_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 373143008
                  bq_cash_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 126807000
                  bq_trade_notes_and_accounts_receivable_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 20419000
                  bq_inventories_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 191334000
                  bq_other_current_assets_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 34583000
                  bq_non_current_assets_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 678286976
                  bq_other_investments_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 0
                  bq_intangible_assets_amortizable_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 293264000
                  bq_other_non_current_assets_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 25739000
                  bq_total_liabilities_and_equity_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 1051430008
                  bq_current_liabilities_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 220260992
                  bq_accounts_payable_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 52588000
                  bq_other_current_liabilities_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 141914000
                  bq_non_current_liabilities_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 359326016
                  bq_other_non_current_liabilities_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 55605000
                  bq_shareholders_equity_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 471843000
                  bq_less_allowance_for_bad_debts_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 333638
                  bq_us_government_obligations_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 725301
                  bq_tax_exempt_securities_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 870361
                  bq_loans_to_shareholders_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 546393
                  bq_mortgage_and_real_estate_loans_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 1112128
                  bq_buildings_and_other_depreciable_assets_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 24645724
                  bq_less_accumulated_depreciation_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 13824235
                  bq_depletable_assets_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 323968
                  bq_less_accumulated_depletion_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 212755
                  bq_land_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 1431260
                  bq_less_accumulated_amortization_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 3031758
                  bq_loans_from_shareholders_mr:
                    anyOf:
                      - type: string
                        example: ''
                      - type: integer
                        example: 2625589
                  bq_match_types:
                    type: string
                    example: Name Only
        status:
          type: integer
          example: 200
    search_append_le_res_200:
      type: object
      properties:
        root:
          type: object
          properties:
            id:
              type: string
              example: toplevel
            relevance:
              type: integer
              example: 1
            fields:
              type: object
              properties:
                totalCount:
                  type: integer
                  example: 10
            coverage:
              type: object
              properties:
                coverage:
                  type: integer
                  example: 100
                documents:
                  type: integer
                  example: 101316736
                full:
                  type: string
                  example: 'true'
                nodes:
                  type: integer
                  example: 10
                results:
                  type: integer
                  example: 1
                resultsFull:
                  type: integer
                  example: 1
            children:
              type: array
              items:
                type: object
                required:
                  - bq_organization_id
                  - bq_organization_structure
                  - bq_organization_name
                  - bq_organization_legal_name
                  - bq_organization_jurisdiction_code
                  - bq_organization_company_number
                  - bq_organization_lfo
                  - bq_organization_date_founded
                  - bq_organization_active_indicator
                  - bq_organization_address1_type
                  - bq_organization_address1_valid_indicator
                  - bq_organization_address1_line_1
                  - bq_organization_address1_city
                  - bq_organization_address1_state
                  - bq_organization_address1_state_name
                  - bq_organization_address1_county_fips
                  - bq_organization_address1_county_name
                  - bq_organization_address1_country
                  - bq_organization_address1_zip5
                  - bq_organization_address1_latitude
                  - bq_organization_address1_longitude
                  - bq_organization_address1_rdi
                  - bq_organization_address1_cbsa_name
                  - bq_organization_address1_cbsa_code
                  - bq_organization_address1_location
                  - bq_organization_address_summary
                  - bq_legal_entity_address_summary
                  - bq_organization_valuation
                  - bq_organization_website
                  - bq_organization_ein
                  - bq_organization_nonprofit_indicator
                  - bq_organization_public_indicator
[...]
